/* ********************************************************
 * El :root pseudo-element, para las variables.
 * ********************************************************/
:root {
  /* Global font size. */
  --font-size: 16px/1.5;

  /* Normal panels. */
  --panel-border-size: 1px;
  --panel-border-color: navy;

  /* OffCanvas panel. */
  --panel-offcanvas-border-color: black;
  --panel-notification-border-color: green;
}


/* ********************************************************
 * El BODY.
 * ********************************************************/
html {
  /* Base styles go here */
  font: var(--font-size) Verdana, Arial, sans-serif;
  margin: auto;
  width: 60%;
  padding: 40px 40px;
  background-color: white;
}


/* ********************************************************
 * El panel global.
 * ********************************************************/
.theme-root-div {
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: aliceblue;
}


/* ********************************************************
 * El panel de los datos del callback.
 * ********************************************************/
.theme-callback input.form-control-plaintext {
  border: var(--panel-border-size) solid var(--panel-border-color);
  color: white;
  background-color: lightslategray;
  padding: 1px 8px;
}


/* ********************************************************
 * El panel de los errores.
 * ********************************************************/
.theme-error {
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: lightgoldenrodyellow;
}
.theme-error span#errorLabel {
  color: navy;
  font-weight: bolder;
  padding: 1px 16px;
  border: var(--panel-border-size) solid var(--panel-border-color);
  font-size: inherit;
}
.theme-error span#error {
  color: red;
  padding: 1px 16px;
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: yellow;
  font-size: inherit;
}
.theme-error input#errorDescription {
  /*
  color: yellow;
  background-color: red;

  // POSSIBLE BGColors:
  background-color: black;
  background-color: maroon;
  background-color: mediumvioletred;
  */
  font-weight: bolder;
  font-size: inherit;
  color: white;
  background-color: red;
  padding: 1px 16px;
  border: var(--panel-border-size) solid var(--panel-border-color);
}


/* ********************************************************
 * El panel de la botonera.
 * ********************************************************/
.theme-botonera {
  font-size: small;
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: lightgoldenrodyellow;
}
.theme-botonera a,
.theme-botonera button {
  font-size: small;
}
.theme-botonera span {
  padding: 1px 4px;
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: yellow;
}


/* ********************************************************
 * El panel del offcanvas.
 * ********************************************************/
.theme-docs {
  border: var(--panel-border-size) solid var(--panel-offcanvas-border-color);
  background-color: aliceblue;
}
.theme-docs-title {
  font-size: larger;
  font-weight: bolder;
  border: var(--panel-border-size) solid var(--panel-offcanvas-border-color);
  color: white;
  background-color: blue;
  padding: 4px;
}
.theme-docs-content {
  font-size: small;
  background-color: aliceblue;
  margin: 0px;
}
.theme-docs ul {
  margin: 0px 0px 8px 0px;
}


/* ********************************************************
 * El panel del access token.
 * ********************************************************/
.theme-access-token {
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: aliceblue;
}


/* ********************************************************
 * El panel de las notificaciones.
 * ********************************************************/
.theme-notifications {
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: aliceblue;
}
.theme-notifications pre {
  max-height: 340px;
  overflow-y: scroll;
}


/* ********************************************************
 * El estilo de cada notificación.
 * ********************************************************/
.notification {
  border: var(--panel-border-size) solid var(--panel-notification-border-color);
  background-color: lightyellow;
  margin: 0px;
  margin-bottom: 8px
}
.notification .header {
  font-size: larger;
  padding: 4px;
  background-color: gold;
  border-bottom: var(--panel-border-size) solid var(--panel-notification-border-color);
}
.notificacion-data {
  font-size: smaller;
  margin: 2px;
}


/* ********************************************************
 * Helpers: enlaces.
 * ********************************************************/
a, a:visited {
  color: navy;
}


/* ********************************************************
 * Helpers: Clases auxiliares.
 * ********************************************************/
.visible {
  visibility: visible;
  display: block;
}
.hidden {
  visibility: hidden;
  display: none;
}
.center {
  margin: auto;
  width: auto;
  padding: 10px 40px;
}

