/* ********************************************************
 * TABLES
 * ********************************************************/

.theme-table {
  min-height: 100px;
  max-height: var(--bsky-table-height);
  overflow-y: scroll;
}

.theme-table-header {
  position: sticky;
  top: 0;
}

.theme-table-body {
  /* font-size: small; */
}

