/* ********************************************************
 * TABLES
 * ********************************************************/


/* ********************************************************
 * Para los filtros.
 * ********************************************************/
.theme-filter {
  width: 300px;
  max-width: 400px;
}


/* ********************************************************
 * Para las tablas.
 * ********************************************************/
.theme-table {
  min-height: var(--bsky-table-height);
  max-height: var(--bsky-table-height);
  overflow-y: scroll;
}

.theme-table-header {
  position: sticky;
  top: 0;
}

.theme-table-body {
  /* font-size: small; */
}

