/* ********************************************************
 * IMPORTs externos
 * ********************************************************/
@import url("bsky.botonera.css");		/* Para la botonera */
@import url("bsky.error.css");			/* Todo lo relacionado con los errores. */
@import url("bsky.tabs.css");			/* Las tabs y los paneles */
@import url("bsky.helpers.css");		/* Los helpers */
@import url("bsky.notifications.css");	/* Las notificaciones */
@import url("bsky.sidebar.css");		/* Para el OffCanvas */

/* Bootstrap icons. */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/* ********************************************************
 * El :root pseudo-element, para las variables.
 * ********************************************************/
:root {
  /* Global root panel width. */
  --panel-root-width: 70%;

  /* Global font size. */
  --font-size: 16px/1.5;

  /* Normal panels. */
  --panel-border-size: 1px;
  --panel-border-color: navy;

  /* OffCanvas panel. */
  --panel-offcanvas-border-color: black;
  --panel-notification-border-color: green;
}


/* ********************************************************
 * El BODY.
 * ********************************************************/
html {
  /* Base styles go here */
  font: var(--font-size) Verdana, Arial, sans-serif;
  margin: auto;
  width: var(--panel-root-width);
  padding: 40px 40px;
  background-color: white;
}


/* ********************************************************
 * El panel global.
 * ********************************************************/
.theme-root {
  border: var(--panel-border-size) solid var(--panel-border-color);
  background-color: azure;
}


/* ********************************************************
 * El panel de la info.
 * ********************************************************/
.theme-info {
  font-size: smaller;
  border: var(--panel-border-size) solid var(--panel-border-color);
  color: navy;
  background-color: azure;
}


/* ********************************************************
 * El panel de los datos del callback.
 * ********************************************************/
.theme-callback input.form-control-plaintext {
  border: var(--panel-border-size) solid var(--panel-border-color);
  color: white;
  background-color: lightslategray;
  padding: 1px 8px;
}


/* ********************************************************
 * El panel de la redirección.
 * ********************************************************/
.theme-redirect {
  border: var(--panel-border-size) solid var(--panel-border-color);
  color: navy;
  background-color: lightgoldenrodyellow;
  padding: 4px 24px;
}


