/* ********************************************************
 * TABS: El tamaño
 * ********************************************************/
 
.nav button {
  /* width: 12rem; */
  /* font-size: smaller; */
  width: inherit;
  padding-top: var(--bsky-menu-button-margin);
  padding-bottom: var(--bsky-menu-button-margin);
}
.nav button .badge {
  margin-bottom: 4px;
}

.nav button.active {
  color: var(--bs-white) !important;
  background-color: var(--bs-success) !important;
}

.nav button:active {
  color: var(--bs-white);
  background-color: transparent;
  /* color: var(--bs-white) !important; */
  /* color: var(--bs-success) !important; */
  /* background-color: greenyellow; */
}

.nav button:hover {
  /* color: var(--bs-white) !important; */
  /* color: var(--bs-success) !important; */
  /* background-color: greenyellow; */

  border-color: var(--bs-success);
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  margin: -1px;
}

/* Toda la sección. */
.theme-tabs {
  /* font-size: smaller; */
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-offcanvas-border-color);
}



/* ********************************************************
 * El panel del access token.
 * ********************************************************/
.theme-access-token {
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  background-color: azure;
}


/* ********************************************************
 * El panel de los following.
 * ********************************************************/
.theme-following {
}


/* ********************************************************
 * El panel de los followers.
 * ********************************************************/
.theme-followers {
}


/* ********************************************************
 * El panel de my profile.
 * ********************************************************/
.theme-my-profile {
}

/* See: https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity */
.theme-my-profile .card-body {
  height: var( --bsky-profile-height );
  background-size: cover;
  background-color: rgba(224, 224, 224, 0.5);
  background-image: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
  background-blend-mode: lighten;
}

