/* ********************************************************
 * El panel de los errores.
 * ********************************************************/
.theme-error {
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  background-color: lightgoldenrodyellow;
}
.theme-error span#errorLabel {
  color: navy;
  font-weight: bolder;
  padding: 1px 16px;
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  font-size: inherit;
}
.theme-error span#error {
  color: red;
  padding: 1px 16px;
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  background-color: yellow;
  font-size: inherit;
}
.theme-error input#errorDescription {
  /*
  color: yellow;
  background-color: red;

  // POSSIBLE BGColors:
  background-color: black;
  background-color: maroon;
  background-color: mediumvioletred;
  */
  font-weight: bolder;
  font-size: inherit;
  color: white;
  background-color: red;
  padding: 1px 16px;
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
}


