/* ********************************************************
 * IMPORTs externos
 * ********************************************************/
@import url("bsky.error.css");				/* Todo lo relacionado con los errores. */
@import url("bsky.modal.css");				/* Los modales */
@import url("bsky.tables.css");				/* Las tablas */
@import url("bsky.tabs.css");				/* Las tabs y los paneles */
@import url("bsky.helpers.css");			/* Los helpers */
@import url("bsky.profile.css");			/* El perfil del usuario */
@import url("bsky.notifications.css");		/* Las notificaciones */
@import url("bsky.sidebar.css");			/* Para el OffCanvas */
@import url("bsky.media.css");				/* Para cosas según medios */

/* Bootstrap icons. */
/*
	@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

	https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css");


/* ********************************************************
 * El :root pseudo-element, para las variables.
 * ********************************************************/
:root {
  /* Fonts. */
  --bsky-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bsky-font-size: 16px/1.5;

  /* Heights. */
  --bsky-page-height: 640px;
  --bsky-table-height: 675px;
  --bsky-menu-button-margin: 2px;
  --bsky-profile-height: 100px;

  /* App Color. */
  --bsky-main-color: azure;
  --bsky-main-color-secondary: navy;

  /* Normal panels. */
  --bsky-panel-border-size: 1px;
  --bsky-panel-border-color: navy;

  /* OffCanvas panel. */
  --bsky-panel-offcanvas-border-color: black;
  --bsky-panel-notification-border-color: green;
}


/* ********************************************************
 * El BODY.
 * ********************************************************/
/* html { */
body {
  font: var(--bsky-font-size);
  font-family: var(--bsky-font-family);
  margin: auto;
  background-color: white;
}


/* ********************************************************
 * El panel de la info.
 * ********************************************************/
.theme-info {
  font-size: smaller;
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  color: black;
  background-color: skyblue;
}


/* ********************************************************
 * El panel de los datos del callback.
 * ********************************************************/
.theme-callback input.form-control-plaintext {
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  color: white;
  background-color: lightslategray;
  padding: 1px 8px;
}


/* ********************************************************
 * El panel de la redirección.
 * ********************************************************/
.theme-redirect {
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  color: navy;
  background-color: lightgoldenrodyellow;
  padding: 4px 24px;
}

.theme-version {
  font-size: smaller;
  border-top: 1px solid black;
  text-align: center;
}
