/* ********************************************************
 * Login page
 * ********************************************************/
h1 {
	color: blue;
}
h4 {
	color: navy;
}
.left-panel {
	/* border-right: 4px solid navy; */
	border: 1px solid navy;
	background-color: azure;
}
.right-panel {
	background-color: #f0f0f0;
}
.vh-75 {
	height: 75vh !important;
}
.vh-25 {
	height: 25vh !important;
}
.about {
	border-top: 2px solid navy;
	padding: 0.5rem;
	font-size: 80%;
	margin-bottom: 4px;
	/* background-color: aliceblue; */
}
