/* ********************************************************
 * TABS: El tamaño
 * ********************************************************/
 
.nav button {
  width: 12rem;
  padding-top: var(--bsky-menu-button-margin);
  padding-bottom: var(--bsky-menu-button-margin);
}
.nav button .badge {
  margin-bottom: 4px;
}

.nav button.active {
  color: var(--bs-white) !important;
  background-color: var(--bs-success) !important;
}

.nav button:hover {
  /* color: var(--bs-white) !important; */
  /* color: var(--bs-success) !important; */
  background-color: greenyellow;
}

/* Toda la sección. */
.theme-tabs {
  /* font-size: smaller; */
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-offcanvas-border-color);
}



/* ********************************************************
 * El panel del access token.
 * ********************************************************/
.theme-access-token {
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color);
  background-color: azure;
}


/* ********************************************************
 * El panel de las notificaciones.
 * ********************************************************/
.theme-notifications {
  /* border: var(--bsky-panel-border-size) solid var(--bsky-panel-border-color); */
  background-color: azure;
}


/* ********************************************************
 * El panel de los following.
 * ********************************************************/
.theme-following {
}


/* ********************************************************
 * El panel de los followers.
 * ********************************************************/
.theme-followers {
}


/* ********************************************************
 * El panel de my profile.
 * ********************************************************/
.theme-my-profile {
}

