/* ********************************************************
 * El panel del offcanvas.
 * ********************************************************/
.theme-docs {
  border: var(--bsky-panel-border-size) solid var(--bsky-panel-offcanvas-border-color);
  background-color: azure;
}
.theme-docs-title {
  font-size: larger;
  font-weight: bolder;
  /* border: var(--bsky-panel-border-size) solid var(--bsky-panel-offcanvas-border-color); */
  color: white;
  background-color: blue;
  margin: 8px;
  padding: 8px 16px;
}
.theme-docs-title .btn-close {
  color: white;
}
.theme-docs-content {
  /* font-size: small; */
  background-color: azure;
  margin: 0px;
}
.theme-docs ul {
  margin: 0px 0px 8px 0px;
}

.navbar-toggler {
	border: 2px solid var(--bsky-main-color-secondary);
	color: var(--bsky-main-color-secondary);
	background-color: var(--bsky-main-color);
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* For the button/link to PDSls */
.theme-pdsls {
  font-family: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 700;
  text-align: center;
}

